# Python
__pycache__/
*.pyc
.env
.venv
env/
venv/

# Data files
*.csv
*.json

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# --- Aturan Khusus Proyek Big Data Tim ---
# Abaikan data mentah agar tidak memberatkan GitHub
data/raw/
data/cleaned/

# Abaikan file cache sistem operasi (terutama jika ada yang pakai Mac)
.DS_Store
# OS
.DS_Store
Thumbs.db
